<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195097665843-pt9oua3l5mo8e7efdjofntds8mo3rsmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195097665843-pt9oua3l5mo8e7efdjofntds8mo3rsmq</string>
	<key>API_KEY</key>
	<string>AIzaSyCY2GORjFr8DO0-MsoLM4-UxvQS-v0FEG4</string>
	<key>GCM_SENDER_ID</key>
	<string>195097665843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.inaday-app-5859</string>
	<key>PROJECT_ID</key>
	<string>inaday</string>
	<key>STORAGE_BUCKET</key>
	<string>inaday.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195097665843:ios:57ee71f3be350336</string>
	<key>DATABASE_URL</key>
	<string>https://inaday.firebaseio.com</string>
</dict>
</plist>